:root {
  --color-skyblue: #8ABEFA;
  --color-green: #63C1C7;
  --color-light-green: #ECF8F5;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-light-gray: #F6F6F6;
  --calor-gray: #959595;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
